@import "tailwindcss";

:root {
  --background: #f8f9fc;
  --foreground: #1e2a5e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.heading-primary {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0;
}

.heading-secondary {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
}
